<h4>Comments</h4>

<table class = "table">
  <tr>
    <th>Content</th>
    <th>Post</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= truncate(comment.content) %></td>
    <td><%= comment.post %></td>
    <td><%= comment.user %></td>
    <!--<td><%= link_to 'Show', comment %></td>-->
    <td><%= link_to 'Edit', edit_comment_path(comment), :class => "btn btn-info" %></td>
    <td><%= link_to 'Delete', :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Submit', new_comment_path, :class => "btn btn-success", :style => "color:white;" %>
