<p id="notice"><%= notice %></p>
 
<p>
  <b>Name:</b>
  <%= @post.name %>
</p>
 
<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>
	<!--<% @post.tags.any? %>
  	<% @post.tags.each do |tag| %>
  	<%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %>-->
 
<h4>Comments</h4>
<%= render @post.comments %>
 
<h5>Add comment:</h5>
<%= render "comments/form" %>

 
<br />
 
<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %> |