<h3>Posts</h3>
<br>
<p id="notice"><%= notice %></p>
 
<p>
  <b>Name:</b>
  <%= @post.name %>
</p>
 
<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content.html_safe %>
</p>
<br>
 
<h3>Comments</h3>
<%= render @post.comments %>
<br>
 
<h5>Add comment:</h5>
<%= render "comments/form" %>
 
<br />
 
<%= link_to 'Edit Post', edit_post_path(@post) %><br>
<br>
<%= link_to 'Back to Posts', posts_path %><br>