
<br>
<br>
<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
    <%= link_to 'Create a Post', new_post_path, :class => "btn btn-success", :style => "color:white;" %>
  <% end %>
<% end %>
<br>
<hr>
<br>

<% @posts.each do |post| %>
 <h3><%= post.title %></h3>
    <p>posted on <%= post.created_at.strftime("%e, %b, %Y") %></p>
    <!--<p>by <%= post.name %>, posted on <%= post.created_at.strftime("%e, %b, %Y") %></p>-->
    <hr>
    <p><%= truncate_html post.content.html_safe, :length => 500 %>...
  <%= link_to "Read more", post_path(post) %></p>
  <br>
  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=156481254525303";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

<div class="fb-like" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
  <br>
    <% if user_signed_in? %>
      <% if current_user.has_role? :admin %>
        <%= link_to 'Edit Post', edit_post_path(post), :class => "btn btn-info", :style => "color:white;" %>
    <% end %>
<% end %>
    <hr>
    
  <% end %>


