<% @posts.each do |post| %>
  <tr>
    <p><%= post.name %></p>
    <p><%= post.title %></p>
    <p><%= post.content %></p>

   

<%= link_to 'Edit Post', edit_post_path(post) %> 

<% end %>
<br>
<br>





<%= link_to 'New Post', new_post_path %>
 