<h3>Contact</h3>
<%= simple_form_for(@enquirer) do |f| %>
  <%= f.error_notification %>

    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <!--<%= f.input :message_type, :collection => ["General Enquiry", "Website error" ], :default => "General Enquiry" %> -->
    <%= f.input :message, :input_html => {:class => "span5", :rows => 10 } %>
  
    <%= f.submit "Send enquiry", :class => 'btn btn-success'  %>
  
<% end %>
